{% extends "base.html" %}

{% block title %}
	<title>Modificar Usuario</title>
{% endblock %}

{% block content%}

	{% include "includes/header.html" %}

		<ul class="menu">
            <li class="child"><a  href= "/user/administrador/" > Inicio </a></li>
            <li><a  href= ""> Administrar usuario</a>
                <ul class="sub">
                    <li><a href="/user/registro/">Registrar Usuario</a></li>
                    <li><a href="/user/listar_usuario/">Buscar Usuario</a></li>
                </ul>
            </li>
            <li><a  href= "."> Administrar personal</a>
                <ul class="sub">
                    <li><a href="/user/registro_personal/">Registrar Personal</a></li>
                    <li><a href="/user/listar_personal/">Buscar Personal</a></li>
                </ul>
            </li>
            <li><a href="">Realizar informe</a>
                <ul class="sub">
                    <li class="fold"><a href="/user/listar_usuario/">Listar Usuarios</a></li>
                    <li class="fold"><a href="/user/listar_personal/">Listar Personal</a></li>
                </ul>
            </li>
            <li class="childl"><a href="/logout/"> Cerrar Sesion </a></li>
        </ul>

		<link href="{{STATIC_URL}}css/bootstrap.login.css" rel="stylesheet"><br><br><br><br>

            <div class="form-login" id="centro"><h4>Ingrase Los Datos</h4>
				<form action="" method="post" class="usu" enctype="multipart/form-data">
				  {% csrf_token%}
				  <fieldset class="form-group">
				    <label for="formGroupExampleInput">Nombre de Usuario</label><br>
            		<th class="form-control">{{formulario.username}}</th><br>
				  </fieldset>
				  <fieldset class="form-group">
				    <label for="formGroupExampleInput2">Contrasena</label><br>
             		<th class="form-control">{{formulario.password1}}</th><br>
				  </fieldset>
				  <fieldset class="form-group">
				    <label for="formGroupExampleInput2">Contrasena de Confirmacion</label><br>
             		<th class="form-control">{{formulario.password2}}</th><br>
				  </fieldset>
				  <fieldset class="form-group">
				    <label for="formGroupExampleInput2">Nombres</label><br>
            		<th class="form-control">{{formulario.first_name}}</th><br>
				  </fieldset>
				  <fieldset class="form-group">
				    <label for="formGroupExampleInput2">Apellidos</label><br>
            		<th class="form-control">{{formulario.last_name}}</th><br>
				  </fieldset>
				  <fieldset class="form-group">
				    <label for="formGroupExampleInput2">Email</label><br>
            		<th class="form-control">{{formulario.email}}</th><br>
				  </fieldset
				  <fieldset class="form-group">
				    <label for="formGroupExampleInput2">Rol</label><br>
            		<th class="form-control">{{formulario.tipo}}</th><br>
				  </fieldset><br><br><br>
				  <button type="submit" class="btn btn-primary">Guardar</button>
				  <button type="reset" class="btn btn-small btn-primary">Limpiar</button>
				</form>
			</div>

<!--<div class="col-xs-12">
					<form action="" method="post">
						{% csrf_token%}
						{{formulario.as_p}}
						<button type="submit" class="btn btn-primary">Registar</button>
					</form>
				</div>-->
	{% include "includes/footer.html"%}
{% endblock %}