.footer{
	height: 60px;
	background-color: #f5f5f5;
	padding-top: 20px;
	position:relative;
	top: 480px;
}
#body{
	position:relative;
	top: 10px;
	margin-left: 20px;
}

.nav{
	background-color: #f5f5f5;
}